* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #548687;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center; /* Horizontally centers the box */
    align-items: center;      /* Vertically centers the box */
    height: 70vh;
    
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    /* margin: 3px; --> used gap*/ 
}